body {
    margin: 0;
    background: gray;
}

.grid-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 100px 100px 100px 100px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-container {
    justify-content: center;
    align-content: center;
}

.commands, .game-over, p {
    text-align: center;
}

.grid-header-container {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* background-color: #c9d1f5; */
    background-color: gray;
    padding: 10px;
    justify-content: center;
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 170%;
}

.grid-header-container h1 {
    margin: 0;
}

h2, p, button {
    font-family: 'Oswald', sans-serif;
}

.justify-left {
    text-align: left;
}

.justify-end {
    text-align: right;
}

.justify-center {
    text-align: center;
}

.card {
    width: 100%;
    height: 100px;
    overflow: hidden;
    border-radius: 15px;
    border: black;
    margin: 0;
    /* transition-duration: 2s; */
    animation-name: shrink;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    transition-timing-function: linear;
}

.hide-card {
    visibility: hidden;
}

.card-front {
    background-color: black;
}

.card-back {
    /* transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition-duration: 2s; */
    animation-name: grow;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    transition-timing-function: linear;
}

@keyframes grow {
    0% {
        -webkit-transform: scale(1, 1);
    }
    
    100% {
        -webkit-transform: scale(1.1, 1.1);
    }
}

@keyframes shrink {
    0% {
        -webkit-transform: scale(1.1, 1.1);
    }
    
    100% {
        -webkit-transform: scale(1, 1);
    }
}

.react-card-front {
    position: unset !important;
}

button:focus {
    outline: 0;
}

#restart:active, #changeDiff:active {
    background-color: black;
    color: white;
}

#restart, #changeDiff {
    background: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
